node_modules
yarn-error.log
lib
build
coverage
.parcel-cache
dist
*.webm
!packages/webrtc/tests/data/nonstandard/userMedia-e2e/*.webm
*.log
*.key
*.mpd
*.mp3
*.mp4
!packages/webrtc/tests/data/nonstandard/userMedia-e2e/*.mp4
*.m4a
credential.env
__screenshots__
.env
packages/webrtc/wpt/progress.state.json
artifacts/
e2e/.playwright-browsers/
.sak

# Python
__pycache__/
*.py[cod]
