name: Node CI

on:
  push:
    branches:
      - master
      - develop
      - "feature/*"
      - "maintain/*"
      - "shinyoshiaki/*"
  pull_request:
    types: [opened]
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v1
      - uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: dev
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: prepare
        run: |
          sudo apt-get update
          sudo apt-get install libavdevice-dev libavfilter-dev libopus-dev libvpx-dev pkg-config libsrtp2-dev libasound2-dev -y
          sudo apt-get -y install libgstreamer1.0-0 gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-tools gstreamer1.0-x gstreamer1.0-alsa gstreamer1.0-pulseaudio
          npm i
          cd e2e
          npm i
          cd ../
      - name: test
        env:
          CI: true
        run: |
          npm run test
      - name: e2e
        env:
          CI: true
        run: |
          npm run e2e
